.chat-bubble {
  background-color: rgb(247, 244, 243);
  border-radius: 5px;
  display: block;
  padding: 20px;
  max-width: 200px;
  word-wrap: break-word;
}

.subscriber {
  background-color: rgb(228, 168, 148);
}

body {
  font-family: "Kavoon";
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(55, 55, 55);
}

.username {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.drop-down {
  animation: drop-down 12s forwards;
}

@keyframes drop-down {
  from {
    transform: translateY(50px);
    animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
  }
  40% {
    transform: translateY(0px);
    -webkit-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
  }
  to {
    transform: translateY(3000px);
    animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
  }
}
